.header {
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.06);
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__link {
  line-height: 1.9;
  margin-right: 80px;
  border: none;
  background: none;
}
.header__link:first-child {
  margin-left: 0;
}
.header__link.active {
  font-weight: bold;
}
.header__notification {
  width: 32px;
  height: 32px;
  background: no-repeat url("../../assets/icons/layout/bell-black.svg");
}
.header__profile {
  display: flex;
  align-items: center;
  position: relative;
}
.header__profile-button {
  margin-left: 16px;
  width: 24px;
  height: 24px;
  background: no-repeat url("../../assets/icons/layout/dropdown.svg") center;
}
.header__profile-photo-placeholder {
  padding: 9px;
  width: 40px;
  height: 40px;
  background: rgba(224, 224, 224, 0.5);
  border-radius: 50%;
}
.header__profile-name {
  margin-left: 12px;
}
.header__profile-popup {
  position: absolute;
  z-index: 3;
  top: calc(100% + 24px);
  right: -148px;
  min-width: 320px;
  border-radius: 16px;
  background: #FFFFFF;
}
.header__profile-popup:before {
  position: absolute;
  top: -12px;
  left: calc(50% - 12px);
  content: "";
  width: 24px;
  height: 24px;
  background: white;
  transform: rotate(45deg);
}
.header__profile-popup-block {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(224, 224, 224, 0.5);
}
.header__profile-popup-link {
  display: flex;
  align-items: center;
  padding: 16px;
}
.header__profile-popup-link > span {
  margin-left: 24px;
}
.header__profile-popup-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.header__profile-popup-footer > button:first-child {
  background: #FFFFFF;
  border: 1px solid #000000;
  width: 208px;
  height: 56px;
}
.header__profile-popup-footer > button:last-child {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}
.header .wrapper > .ui__button {
  margin-left: 144px;
  padding: 16px 56px;
}

.footer {
  margin-top: 160px;
  box-shadow: 0px -16px 24px rgba(0, 0, 0, 0.06), 0px -2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.footer__top {
  max-height: 96px;
  display: flex;
}
.footer__logo img:first-child {
  margin-right: 10px;
}
.footer__navigation {
  margin-left: 146px;
  display: flex;
}
.footer__link {
  margin-left: 64px;
}
.footer__social-media {
  margin-left: 196px;
}
.footer__social-media-link {
  margin-left: 40px;
}
.footer__bottom {
  padding: 30px 0;
  line-height: 24px;
  font-size: 12px;
}
.footer .wrapper {
  padding-top: 40px;
}

body.dark .header__notification {
  background: no-repeat url("../../assets/icons/layout/bell-white.svg");
}
body.dark .header__profile-button {
  background: no-repeat url("../../assets/icons/layout/dropdown-dark.svg");
}
body.dark .header__profile-photo-placeholder {
  background: #9A9A9A;
}

/*# sourceMappingURL=layout.css.map */
