.menu__select-container
  min-height: 56px
  flex: 1
.select
  height: 100% !important
  border-radius: 8px !important
  border: none!important
  &__multi-value
    background: none !important
  &__control
    min-height: 56px !important
    border-radius: 8px !important
    border: none !important
  &__indicator-separator
    display: none
  &__dropdown-indicator
    padding: 16px!important
    >svg
      fill: black