@import "../app/variables.sass"
.profile
  width: 100%
  border: 1px solid rgba(224, 224, 224, 0.5)
  border-radius: 8px
  &__header
    display: flex
    justify-content: space-between
    gap: 20px
    align-items: center
    padding: 20px
    &-photo
      min-width: 72px
      min-height: 72px
      display: flex
      position: relative
      &-loaded
        width: 100%
        height: 100%
      &-avatar
        background: rgba(224, 224, 224, 0.5)
        border: 1px solid rgba(154, 154, 154, 0.25)
        border-radius: 50%
        padding: 24px
      &-edit
        width: 24px
        height: 24px
        background: url("../../assets/icons/settings/avatar-edit.svg")
          repeat: no-repeat
        position: absolute
        right: 0
        bottom: 0
    &-info
      display: flex
      flex-direction: column
      gap: 4px
    &-name
      font-weight: 700
      font-size: 20px
      line-height: 24px
    &-id
      color: #33669A
      line-height: 24px
    &-roles
      color: #9A9A9A
      font-size: 12px
      line-height: 16px
  &__main
    padding: 20px 0
    background: rgba(224, 224, 224, 0.2)
    display: flex
    flex-direction: column
    gap: 16px
    &-field
      display: flex
      align-items: center
      justify-content: space-between
      line-height: 24px
      padding: 0 20px 0
      &:last-child
        padding-top: 16px
        border-top: 1px solid rgba(224, 224, 224, 0.5)
      &-data
        display: flex
        align-items: center
        gap: 8px
        font-size: 14px
      &-description
        font-size: 0.75em
        color: #9A9A9A
  &__footer
    padding: 20px
    display: flex
    justify-content: space-between
    gap: 20px
    >button
      height: 56px
      &:first-child
        width: 208px
        color: white
        background: #254D9B
      &:last-child
        width: 56px
        display: flex
        align-items: center
        justify-content: center
        background: none
        border: 1px solid rgba(224, 224, 224, 0.25)
  &__modal
    min-width: 672px
    position: absolute
    top: 75%
    left: 50%
    transform: translate(-50%,-50%)
    display: flex
    flex-direction: column
    width: 496px
    background: #FFFFFF
    border-radius: 16px
    &-header
      display: flex
      align-items: center
      padding: 30px 30px
    &-title
      font-size: 2rem
      line-height: 2rem
      margin: 0 auto
    &-close
      position: absolute
      right: 30px
      width: 40px
      height: 40px
      background: no-repeat url("../../assets/icons/user/close.svg")
    &-photo
      padding: 36px
      background: rgba(224, 224, 224, 0.25)
      border: 1px solid #E0E0E0
      border-radius: 50%
      width: 112px
      height: 112px
      display: flex
      justify-content: space-between
      align-items: center
    &-upload-button
      color: #2F80ED
      text-decoration: underline
    &-main
      &-block
        padding: 20px 30px
        border-top: 1px solid rgba(224, 224, 224, 0.5)
        border-bottom: 1px solid rgba(224, 224, 224, 0.5)
        border-collapse: collapse
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        gap: 16px 32px
        &_divided
          display: flex
          padding: 20px 30px
          border-top: 1px solid rgba(224, 224, 224, 0.5)
          border-bottom: 1px solid rgba(224, 224, 224, 0.5)
        &_division
          display: flex
          flex-wrap: wrap
          flex-direction: column
          gap: 16px
    &-select
      appearance: none
      padding: 16px
      border: 1px solid #E0E0E0
      color: #9A9A9A
      border-radius: 8px
      background: rgba(255, 255, 255, 0.5)
        image: url("../../assets/icons/settings/modal-dropdown.svg")
        position: top 24px right 24px
        repeat: no-repeat
    &-notification
      color: #929395
      width: 100%
      font-family: 'Noto Sans JP', sans-serif
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 24px
    &-field
      display: flex
      flex-direction: column
      gap: 8px
      &-label
        line-height: 16px
        font-size: 12px
      &-container
        position: relative
      &-image
        position: absolute
        top: 16px
        right: 16px
        width: 20px
        height: 20px
      &-input
        width: 100%
        background: #F7F7F7
    &-footer
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0 30px 30px
      margin-top: 20px
      &-button
        display: flex
        gap: 16px
        align-items: center
        color: #EB5757
      & .ui__button
        padding: 16px 24px
        &:disabled
          background: #E0E0E0
//Dark Mode
body.dark
  .profile
    border: 1px solid rgba(224, 224, 224, 0.1)
    &__header
      &-photo
        &-avatar
          background: rgba(224, 224, 224, 0.05)
        &-edit
          background: url("../../assets/icons/settings/avatar-edit-dark.svg")
            repeat: no-repeat
      &-id
        color: #33669A
      &-roles
        color: #9A9A9A
    &__main
      background: rgba(224, 224, 224, 0.05)
    &__footer
      >button
        &:last-child
          background: #FFFFFF